.epg-header {
	background-color: aqua;
	font-weight: bold;
	font-family: fantasy;
	font-size: 1.2em	
}

.epg-header-right {
	text-align: right;
	display: inline;
	margin-left:30px;
}
	
.epg-title {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em
}

.epg-shorttext {	
	font-weight: bold;
}

.epg-season {	
	margin-top: 10px;
}

.epg-info {	
	margin-top: 10px;
}

.epg-long {	
	margin-top: 10px;
}

.epg-actor {	
	margin-top: 10px;
}

.epg-director {	
	margin-top: 10px;
}

.epg-audio {
	margin-top: 10px;
}

.epg-flags {	
	margin-top: 10px;
}

.epg-shortreview {
	margin-top: 10px;
}

.epg-tipp {
	margin-top: 10px;
}

.epg-rating {	
	margin-top: 10px;
}

.epg-moderator {
	margin-top: 10px;
}

.epg-other {	
	margin-top: 10px;
}

.epg-guest {
	margin-top: 10px;
}

.epg-camera {
	margin-top: 10px;
}
