DIV.tree-container LI.last:nth-child(1) {
	background-image: none !important;
	padding: 0;
}

.tree-label a {
	text-decoration: none;
	cursor: pointer;
	color: #444;
}

.selected {
	font-weight: bold;
}

.recTreeColumn {
	vertical-align: top;
	max-width: 25em;
	min-width: 25em;
}

.recInfoColumn {
	vertical-align: top;
	padding-left: 20px;
	width:100%;
}

.renameicon {
	width: 20px;
	height: 20px;
}

.moveicon {
	width: 20px;
	height: 20px;
}

.deleteicon {
	width: 20px;
	height: 20px;
}

.recordingTable {
	width: 100%;	
}

table tr td {
	padding: 0px !important;
	margin: 0px !important;
	vertical-align: top !important;
}

table tr th {
	padding: 0px !important;
	margin: 0px !important;
	vertical-align: top !important;
}

[data-grid-property="duration"] {
    text-align: center;
    vertical-align: top;
}

[data-grid-property="recStartTime"] {
    text-align: center;
    vertical-align: top;
}

[data-grid-property="recStartDate"] {
    text-align: center;
    vertical-align: top;
}

[data-grid-property="fileSize"] {
    text-align: center;
    vertical-align: top;
}

