.vdrinfo {
	display: inline;
	float: left;	
}

.wol {
	height: 15px;
	width: 15ox;
}

#status {
	border: 2px solid;
	margin: 10px;
}

#status thead {
	background-color: highlight;
}

#status thead th {
	text-align: center;
}

#status tbody tr {
	border: 1px solid;
}

#status tbody td {
	padding: 10px;
}

.svdrpok, .svdrpnok, .restfulapiok, .restfulapinok   {
	height: 15px;
	width: 15px;
}

